KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot/boot.o \
$(ARCHDIR)/kernel/tty.o \
$(ARCHDIR)/kernel/keyboard.o \
$(ARCHDIR)/kernel/sys.o \
$(ARCHDIR)/dt/gdt.o \
$(ARCHDIR)/dt/gdt_raw.o \
$(ARCHDIR)/dt/idt.o \
$(ARCHDIR)/dt/isr.o \
$(ARCHDIR)/dt/interrupt.o \


KERNEL_ARCH_INCLUDE=\
$(ARCHDIR)/include/. \
